header{
    background-color: black;
    color: pink;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    padding-top:5px;
    padding-bottom: 5px;  
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav{
    display:flex;
    flex-direction: row;
    background-color: pink;
    color: black;
    list-style: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    font-weight: 300;
}
.nav div a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:hover{
    background-color: black;
    color: pink;
}
